@{
    ViewData["Title"] = "中央氣象局天氣預報資料";
}
@section Scripts {    
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
<script src="~/lib/angularjschart/angular-chart.min.js"></script>

}
<div ng-controller="LineCtrl">
    <div class="col-lg-3">
        地區 <select name="Area" id="Area"
                   ng-model="Area" ng-change="onchange()">
            <option value="">---請選擇地區---</option>
            <option ng-repeat="option in ListArea" value="{{option}}">{{option}}</option>
        </select>
    </div>
    <div class="col-lg-3">
        起始時間 <select name="STTime" id="STTime"
                     ng-model="STTime" ng-change="onchange()">
            <option value="">---請選擇時間---</option>
            <option ng-repeat="option in ListStartTime" value="{{option}}">{{option}}</option>
        </select>
    </div>
    <div class="col-lg-3">
        結束時間 <select name="EDTime" id="STTime"
                     ng-model="EDTime" ng-change="onchange()">
            <option value="">---請選擇時間---</option>
            <option ng-repeat="option in ListEndTime" value="{{option}}">{{option}}</option>
        </select>
    </div>
    <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-series="series" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick" style="height:500vh; width:1000vw"></canvas>
</div>
